<div class="container">
<%# in app/views/books/edit.html.erb %>
<%= turbo_frame_tag "show_edit" do %>
    <%= form_with model: @listing, method: :put do |listing_form| %>
        
        <%= render partial: 'form_template', locals: {listing_form: listing_form} %>

    <% end %>
<%end%>
</div>
