/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*-----------------GENERAL STYLIZING-----------------*/

/*
These are the default stylings for the whole page!
Play with page-wide settings below
*/
:root{
    --def_background: #821019;
    --alt_background: #E10028;
    --text_color: white;
    --alt_text_color: #D2D4D6;
}

 .rightalign {
    text-align: right;
}

 /*for keeping various buttons/links on same line*/
 .inline-button { 
    display: inline-block;
    margin-right: 10px; /* optional, adjust as needed */
}

 .btn{
    background-color: var(--alt_background);
    color: var(--text_color);
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px; /* Adjust padding to your liking */
    text-decoration: none;
}

 .title {
    background-color: var(--def_background);
    color: var(--text_color);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 48px;
    /*font-style: italic;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*text-decoration: underline;*/
    border: 2px solid #000;
    width: 100%;
}

 .index_header {
    background-color: var(--def_background);
    color: var(--text_color);
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 10px 15px; /* Adjust padding to your liking */
    text-decoration: underline;

}

/*-----------------LISTING STYLIZING-----------------*/
.product_title{
    background-color: var(--text_color);
    color: var(--def_background);
    text-align: center;
    font-size: 24px;
    /*font-style: italic;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*text-decoration: underline;*/
    border: 2px solid #000;
}

.product_table_stripes{
    td:nth-child(even) {background-color: var(--alt_text_color);}
}


/*-----------------TABLE STYLIZING-----------------*/
 .table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*border-spacing: 10px;
    border: 1px solid #000;*/
    border-collapse: collapse;
    text-align: center;
}
  
 /*default styling for table header contents*/
 .table th {
    background-color: var(--def_background);
    color: var(--text_color);
    padding: 10px;
    border-bottom: 1px solid #000;
    border-spacing: 10px;

    width: 5%;
}

/*add stripes to table rows*/
tr:nth-child(even) {background-color: rgb(209, 207, 207);}

/*highlight on mouseover*/
tr:hover {background-color: coral;}
  
